<div class="container">
  <div class="row">
    <h3>Welcome: {{ currentUser.username }}</h3><input type="button" class="btn btn-default pull-right" ng-click="addShipment()" value="Add Shipment">
  </div>
  <div class="row" ng-controller="DashCtrl">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <th>Product Name</th>
          <th>SKU</th>
          <th>Price</th>
          <th>Count</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
