<div class="col-md-10 col-md-offset-1">
  <h2 class="dash-title">Dashboard</h2>
  <div class="col-md-4 col-md-offset-4" id="company-div">
    <h5>Company ID:</h5>
    <select class="form-control">
      <option>Company XYZ</option>
    </select>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h3 class="dash-title">Inbound Analysis</h3>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <td>Function Name</td>
            <td>Total</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">Documents Entry</a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="">Documents Recieved</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h3 class="dash-title">Outbound Analysis</h3>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <td>Function Name</td>
            <td>Total</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">Allocation Entry</a></td>
            <td><a href="">0</a></td>
          </tr>
          <tr>
            <td><a href="">Ship Entry</a></td>
            <td><a href="">0</a></td>
          </tr>
          <tr>
            <td><a href="">Ship Request</a></td>
            <td><a href="">0</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h3></h3>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <td>Function Name</td>
            <td>Total</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href=""></a></td>
            <td></td>
          </tr>
          <tr>
            <td><a href=""></a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
